MYSQL_DATABASE_URI=your_database_uri_name_here
SQLALCHEMY_TRACK_MODIFICATIONS=your_track_modifications_setting_here
CACHE_TYPE=your_cache_type_here
CACHE_DEFAULT_TIMEOUT=your_cache_timeout_here
UPLOAD_FOLDER=your_upload_folder_path_here
ALLOWED_EXTENSIONS=your_allowed_extensions_here